{{- if .Values.features.credhub.enabled }}

- type: replace
  path: /instance_groups/name=credhub/jobs/name=credhub/properties/quarks?
  value:
    ports:
    - name: credhub
      protocol: TCP
      internal: &credhub_port 8844
    run:
      healthcheck:
        credhub:
          readiness:
            httpGet:
              port: 8845
              path: /health

- type: replace
  path: /instance_groups/name=credhub/jobs/-
  value:
    name: route_registrar
    release: routing
    properties:
      route_registrar:
        routes:
        - name: credhub
          tls_port: *credhub_port
          server_cert_domain_san: credhub.service.cf.internal
          registration_interval: 10s
          tags:
            component: credhub
          uris:
          - credhub.((system_domain))

- type: replace
  path: /instance_groups/name=credhub/jobs/-
  value:
    name: cf-cli-7-linux
    release: cf-cli
    properties:
      quarks:
        bpm:
          processes:
          - name: credhub-internal-security-group-setup
            ephemeral_disk: true
            executable: /bin/bash
            args:
            - -c
            - |-
              {{- .Files.Get "assets/scripts/jobs/cf-cli-7-linux/setup_internal_security_group.sh" | nindent 14 }}
        envs:
        - name: CF_API
          value: https://cloud-controller-ng.service.cf.internal:9024
        - name: CF_API_CA_CERT
          valueFrom:
            secretKeyRef:
              name: var-cc-tls
              key: ca
        - name: UAA_URL
          value: https://uaa.service.cf.internal:8443
        - name: UAA_CA_CERT
          valueFrom:
            secretKeyRef:
              name: var-uaa-ssl
              key: ca
        - name: CF_USERNAME
          value: credhub_setup
        - name: CF_PASSWORD
          valueFrom:
            secretKeyRef:
              name: var-credhub-setup-client-secret
              key: password
        - name: POD_IP
          valueFrom:
            fieldRef:
              apiVersion: v1
              fieldPath: status.podIP
        - name: POD_NAME
          valueFrom:
            fieldRef:
              apiVersion: v1
              fieldPath: metadata.name
        - name: PORTS
          value: *credhub_port
        - name: DATA_DIR
          value: /var/vcap/data/cf-cli-7-linux

- type: replace
  path: /instance_groups/name=uaa/jobs/name=uaa/properties/uaa/clients/credhub_setup?
  value:
    authorities: cloud_controller.admin
    authorized-grant-types: client_credentials
    secret: ((credhub_setup_client_secret))

- type: replace
  path: /instance_groups/name=credhub/jobs/name=credhub/properties/credhub/authentication?/uaa?/url?
  value: "https://uaa.((system_domain))"
- type: replace
  path: /instance_groups/name=credhub/jobs/name=credhub/properties/credhub/authentication?/uaa?/internal_url?
  value: "https://uaa.service.cf.internal:8443"

- type: replace
  path: /variables/name=credhub_setup_client_secret?
  value:
    name: credhub_setup_client_secret
    type: password

{{- else }}

# Remove directly from the cf-deployment.yml YAML file.
- path: /addons/name=bosh-dns-aliases/jobs/name=bosh-dns-aliases/properties/aliases/domain=credhub.service.cf.internal?
  type: remove
- path: /instance_groups/name=database/jobs/name=pxc-mysql/properties/seeded_databases/name=credhub?
  type: remove
- path: /instance_groups/name=uaa/jobs/name=uaa/properties/uaa/clients/cc_service_key_client?
  type: remove
- path: /instance_groups/name=uaa/jobs/name=uaa/properties/uaa/clients/credhub_admin_client?
  type: remove
- path: /instance_groups/name=api/jobs/name=cloud_controller_ng/properties/credhub_api?
  type: remove
{{- /* Don't remove credhub CA from cflinuxfs3-rootfs-set job; it is already handled by operations/stacks.yaml */}}

# XXX Is there a safer way to do edit the rep job property than to delete an array element by position?
# XXX At least verify that trusted_ca_certificates[1] == "((credhub_tls.ca))" and fail if it doesn't?
# XXX The current op could break silently during any cf-deployment upgrade that rearranges certs.
- path: /instance_groups/name=diego-cell/jobs/name=rep/properties/containers/trusted_ca_certificates/1
  type: remove

- path: /instance_groups/name=credhub?
  type: remove
- path: /variables/name=credhub_encryption_password?
  type: remove
- path: /variables/name=credhub_admin_client_secret?
  type: remove
- path: /variables/name=credhub_database_password?
  type: remove
- path: /variables/name=credhub_ca?
  type: remove
- path: /variables/name=credhub_tls?
  type: remove
- path: /releases/name=credhub?
  type: remove

{{- end }}
