# Selectively remove jobs temporarily.
# - type: remove
#   path: /instance_groups/name=diego-cell/jobs/name=rep
- type: remove
  path: /instance_groups/name=diego-cell/jobs/name=garden-cni
- type: remove
  path: /instance_groups/name=diego-cell/jobs/name=netmon
- type: remove
  path: /instance_groups/name=diego-cell/jobs/name=vxlan-policy-agent
- type: remove
  path: /instance_groups/name=diego-cell/jobs/name=silk-daemon
- type: remove
  path: /instance_groups/name=diego-cell/jobs/name=silk-cni

# Enable BPM on garden.
- type: replace
  path: /instance_groups/name=diego-cell/jobs/name=garden/properties/bpm?
  value:
    enabled: true

# Override the addresses for the jobs under the diego-cell instance group.
- type: replace
  path: /instance_groups/name=diego-cell/jobs/name=route_emitter/properties/uaa/hostname?
  value: ((deployment-name))-uaa
- type: replace
  path: /instance_groups/name=diego-cell/jobs/name=route_emitter/properties/diego/route_emitter/nats?/machines
  value:
  - ((deployment-name))-nats
- type: replace
  path: /instance_groups/name=diego-cell/jobs/name=route_emitter/properties/diego/route_emitter/bbs/api_location?
  value:
  - ((deployment-name))-diego-api:8889
- type: replace
  path: /instance_groups/name=diego-cell/jobs/name=route_emitter/properties/locks?/locket/hostname
  value: ((deployment-name))-diego-api
- type: replace
  path: /instance_groups/name=diego-cell/jobs/name=route_emitter/properties/routing_api?/url
  value: http://((deployment-name))-api
- type: replace
  path: /instance_groups/name=diego-cell/jobs/name=cfdot/properties/bbs?/hostname
  value: ((deployment-name))-diego-api
- type: replace
  path: /instance_groups/name=diego-cell/jobs/name=cfdot/properties/locket?/hostname
  value: ((deployment-name))-diego-api
- type: replace
  path: /instance_groups/name=diego-cell/jobs/name=rep/properties/set_kernel_parameters?
  value: false

# Temporarily remove garden network_plugin.
- type: remove
  path: /instance_groups/name=diego-cell/jobs/name=garden/properties/garden/network_plugin
- type: remove
  path: /instance_groups/name=diego-cell/jobs/name=garden/properties/garden/network_plugin_extra_args

- type: replace
  path: /instance_groups/name=diego-cell/jobs/name=cflinuxfs3-rootfs-setup/properties?/bosh_containerization?/bpm?/processes?
  value: []
- type: replace
  path: /instance_groups/name=diego-cell/jobs/name=cfdot/properties?/bosh_containerization?/bpm?/processes?
  value: []

- type: replace
  path: /instance_groups/name=diego-cell/jobs/name=rep/properties?/diego?/rep?/locket?/api_location?
  value: ((deployment-name))-diego-api:8891

- type: replace
  path: /instance_groups/name=diego-cell/jobs/name=rep/properties?/diego?/rep?/bbs?/api_location?
  value: ((deployment-name))-diego-api:8889

- type: replace
  path: /instance_groups/name=diego-cell/jobs/name=rep/properties?/diego?/rep?/advertise_domain?
  value: ((deployment-name))-diego-cell

- type: replace
  path: /instance_groups/name=diego-cell/jobs/name=rep/properties?/diego?/rep?/preloaded_rootfses?
  value:
  - cflinuxfs3:/var/vcap/data/rep/cflinuxfs3/rootfs.tar

- type: replace
  path: /instance_groups/name=diego-cell/jobs/name=garden/properties?/diego?/garden?/network_pool?
  value: 10.38.0.0/16

- type: replace
  path: /instance_groups/name=diego-cell/jobs/name=garden/properties?/diego?/garden?/apparmor_profile?
  value: ""

- type: replace
  path: /instance_groups/name=diego-cell/jobs/name=garden/properties?/diego?/garden?/containerd_mode?
  value: false

- type: replace
  path: /instance_groups/name=diego-cell/jobs/name=rep/properties?/bosh_containerization?/privileged?
  value: true
