---
{{- if .Values.features.credhub.enabled }}
- type: replace
  path: /instance_groups/name=credhub/jobs/name=credhub/properties/quarks?
  value:
    ports:
    - name: credhub
      protocol: TCP
      internal: 8844
    run:
      healthcheck:
        credhub:
          readiness:
            httpGet:
              port: 8845
              path: /health

- type: replace
  path: /instance_groups/name=credhub/jobs/-
  value:
    name: route_registrar
    release: routing
    properties:
      route_registrar:
        routes:
        - name: credhub
          tls_port: 8844
          server_cert_domain_san: credhub.service.cf.internal
          registration_interval: 10s
          tags:
            component: credhub
          uris:
          - credhub.((system_domain))
{{- end }}

{{- if not .Values.features.credhub.enabled }}
# Remove directly from the cf-deployment.yml YAML file
- path: /addons/name=bosh-dns-aliases/jobs/name=bosh-dns-aliases/properties/aliases/domain=credhub.service.cf.internal?
  type: remove
- path: /instance_groups/name=database/jobs/name=pxc-mysql/properties/seeded_databases/name=credhub?
  type: remove
- path: /instance_groups/name=uaa/jobs/name=uaa/properties/uaa/clients/cc_service_key_client?
  type: remove
- path: /instance_groups/name=uaa/jobs/name=uaa/properties/uaa/clients/credhub_admin_client?
  type: remove
- path: /instance_groups/name=api/jobs/name=cloud_controller_ng/properties/credhub_api?
  type: remove
- path: /instance_groups/name=diego-cell/jobs/name=cflinuxfs3-rootfs-setup/properties/cflinuxfs3-rootfs/trusted_certs/1
  type: remove
- path: /instance_groups/name=diego-cell/jobs/name=rep/properties/containers/trusted_ca_certificates/1
  type: remove
- path: /instance_groups/name=credhub?
  type: remove
- path: /variables/name=credhub_encryption_password?
  type: remove
- path: /variables/name=credhub_admin_client_secret?
  type: remove
- path: /variables/name=credhub_database_password?
  type: remove
- path: /variables/name=credhub_ca?
  type: remove
- path: /variables/name=credhub_tls?
  type: remove
- path: /releases/name=credhub?
  type: remove
{{- end }}